<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> hello from Login</h1>
    <form action = "http://127.0.0:5001/test" method = 'POST' >
        <input name = "email" type= "email" placeholder = "Enter Email">
        <input name = "password" type="password" placeholder = "password">
        <input type= "submit">
    </form>
    <a href="/signup">signup</a>
</body>
</html>